
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    width:90%;
}

a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
}
.navbar {
    /* max-width: 1000px;
    margin: auto; */
    background-color: #ECF4E5;
    border-radius: 50px;
    padding: 10px;
    margin-bottom:5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-links {
    display: flex;
    gap:2rem;
    justify-content: space-evenly;
    align-items: center;
}

.menu-icon {
    display: none;
}

/* ------------------------------Hero section------------------------------- */

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    margin-bottom: 20rem;
}

.hero-section img {
    max-width: 500px;
    width: 100%;
}

h1 {
    font-size: 6rem;
}
h2 {
    font-size: 4rem;
}

.btn {
    background-color:#ECF4E5;
    padding: 1rem 2rem;
    border-radius: 50px;
}

/*-------------------------project section--------------------------------*/

.projects-section {
    margin-bottom: 20rem;
    text-align: center;
   
}

.projects-section h2 {
    margin-bottom: 5rem;
}

.grid-container {
    max-width: 70rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    align-items: center;
    justify-items: center;
    gap:4rem;
}

.grid-item {
    background-color: #ECF4E5;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:10px;
    border: 2px solid #ECF4E5;
    box-shadow:10px 10px 10px 0px #d5dccf;
}
.grid-item img {
    max-width:300px;
    width: 100%;
    object-fit: cover;
}

.grid-item ul{
    display: flex;
    gap:20px;
}

/*------------------skills section----------------------*/
.skills-section {
    margin-bottom: 10rem;
}

.skills-section h2 {
    text-align: center;
    margin-bottom: 5rem;
}

.skills-section ul {
    display: flex;
    flex-wrap: wrap;
    gap:10rem;
}

.skills-section ul li {
    background-color: #d5dccf;
    padding: 2rem 4rem;
    border-radius: 20px;
}


/*-------------------------about section--------------------------------*/

.about-section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10rem 4rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 20rem;
    border: 2px solid #d5dccf;
    box-shadow: 10px 10px 30px 0px #d5dccf;
    justify-items: center;
    align-items: center;
}

/*------------------------footer----------------------------*/

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10rem;
}

.logo {
    width:30px;
}


@media (max-width:500px) {

    .nav-links {
        flex-direction: column;
    }

    /* .nav-links {
        display: none;

      
    }
    .menu-icon {
        display: block; 
        position: absolute;
        right:10px;  
        top:60px;
    } */

    .about-section {
        grid-template-columns: 1fr;
    }
}

@media (max-width:760px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    h1 {
    font-size: 4rem;
    }
    h2 {
        font-size: 3rem;
    }
   

}
