
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
}

.container {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
}
.navbar {
    padding: 10px;
    background-color: #FFF7E2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-links {
    display: flex;
    gap:4rem;
    justify-content: space-evenly;
    align-items: center;
}

.menu-icon {
    display: none;
}

/* ------------------------------Hero section------------------------------- */

.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    justify-items: center;
    align-items: center;
    background-color: #FFF7E2;
}
.hero-section-content {
    display: flex;
    flex-direction: column;
    gap:40px;
    align-items: center;
    justify-content: center;
}
.hero-section img {
    max-width: 500px;
    width: 100%;
}

h1 {
    font-size: 6rem;
}
h2 {
    font-size: 4rem;
}

.btn {
    background-color:#ECF4E5;
    padding: 1rem 2rem;
    border-radius: 50px;
    display: inline-block;
    border: 2px solid #d5dccf;
    box-shadow: 5px 5px 30px 0px #d5dccf;
}

/*-------------------------project section--------------------------------*/

.projects-section {
    text-align: center;
    background-color: #4F633D;
    padding: 20px;
}

.projects-section h2 {
    margin-bottom: 5rem;
    color:#fff;
}

.grid-container {
    overflow-x: hidden;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    color: #fff;
    gap:20px;
}

.grid-item {
    background-color:transparent;
    padding: 4rem 2rem;
    height: 100%;
    box-shadow: 10px -10px 20px 10px #303c25;
}
.grid-item img {
    max-width:300px;
    width: 100%;
    object-fit: cover;

}

.grid-item ul{
    display: flex;
    gap:20px;
}
.grid-item a {
    color: #fff;
}


.skills-about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 50px;
    background-color: #FFF7E2;
}

/*------------------------footer----------------------------*/

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10rem;
    padding: 50px;
    background-color: #4F633D;
    color:#fff;
}

.logo {
    width:30px;
}


@media (max-width:500px) {

    .nav-links {
        flex-direction: column;
    }

    .hero-section{
        margin-bottom: 5rem;
    }
    .projects-section {
        margin-bottom: 5rem;
    }

    .about-section {
        grid-template-columns: 1fr;
        margin-bottom: 5rem;
    }
}

@media (max-width:760px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    h1 {
    font-size: 4rem;
    }
    h2 {
        font-size: 3rem;
    }
   

}
