
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
}

.container {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
}
.navbar {
    padding: 10px;
    background-color: #FFF7E2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-links {
    display: flex;
    gap:4rem;
    justify-content: space-evenly;
    align-items: center;
}

.menu-icon {
    display: none;
}

/* ------------------------------Hero section------------------------------- */

.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    gap:40px;
    justify-items: center;
    align-items: center;
    background-color: #FFF7E2;
    padding: 10%;
}
.hero-section-content {
    display: flex;
    flex-direction: column;
    gap:40px;
    align-items: center;
    justify-content: center;
}
.hero-section img {
    max-width: 500px;
    width: 100%;
}

h1 {
    font-size: 6rem;
}
h2 {
    font-size: 4rem;
}

.btn {
    background-color:#ECF4E5;
    padding: 1rem 2rem;
    border-radius: 50px;
    display: inline-block;
    border: 2px solid #d5dccf;
    box-shadow: 5px 5px 30px 0px #d5dccf;
}

/*-------------------------project section--------------------------------*/

.projects-section {
    background-color: #4F633D;
    padding: 20px;
    font-size: 2rem;
}

.projects-section h2 {
    color:#fff;
    text-align: center;
}

.grid-container {
    overflow-x: hidden;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    color: #fff;
    gap:20px;
}

.grid-item {
    background-color:transparent;
    padding: 4rem 2rem;
    height: 100%;
    box-shadow: 10px -10px 20px 10px #303c25;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}
.grid-item p {
    font-size: 1.8rem;
}
.grid-item img {
    max-width:300px;
    width: 100%;
    object-fit: cover;
}

.tech {
     font-size: 1.7rem;
}

.tech li {
    border: 1px solid #fae6e6;
    border-radius: 30px;
    padding:2px 8px;
}

.grid-item ul{
    display: flex;
    gap:20px;
   
}
.grid-item a {
    color: #fff;
    font-size: 1.8rem;
    border:1px solid #fae6e6;
    border-radius: 30px;
    padding: 2px 8px;
}


/* --------------------------skills and about--------------------- */

.skills-about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 50px;
    background-color: #FFF7E2;
}

/*------------------------footer----------------------------*/

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    padding: 50px;
    background-color: #4F633D;
    color:#fff;
}
.contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.logo {
    width:30px;
    filter: brightness(0) invert(1)
}
.git-link{
    color: #fff;
}



@media (max-width:900px) {
    .grid-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:760px) {
     .hero-section{
        
        grid-template-columns: 1fr;
       
    }
    .grid-container {
        grid-template-columns: 1fr;
    }
    h1 {
    font-size: 4rem;
    }
    h2 {
        font-size: 3rem;
    }
    .skills-about-section{
        grid-template-columns: 1fr;
    }

}



@media (max-width:500px) {

    .nav-links {
        flex-direction: column;
    }


    .about-section {
        grid-template-columns: 1fr;
    }

    footer {
        gap:10px;
        flex-direction: column;
    }
}
